:root {
  --spacing-0: 0;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 20px;
  --spacing-5: 32px;
  --spacing-6: 52px;
  --spacing-7: 84px;

  --theme-red: #f87171;
  --theme-cyan: #22d3ee;
  --theme-green: #4ade80;
  --theme-yellow: #facc15;
  --theme-blue: #60a5fa;
  --theme-magenta: #fb7185;
  --theme-sky: #38bdf8;
  --theme-pink: #f472b6;
  --theme-amber: #fbbf24;
  --theme-indigo: #818cf8;
  --theme-purple: #c084fc;
  --theme-orange: #fb923c;

  --theme-red-dark: #7f1d1d;
  --theme-cyan-dark: #164e63;
  --theme-green-dark: #14532d;
  --theme-yellow-dark: #713f12;
  --theme-blue-dark: #1e3a8a;
  --theme-magenta-dark: #881337;
  --theme-sky-dark: #0c4a6e;
  --theme-pink-dark: #831843;
  --theme-amber-dark: #78350f;
  --theme-indigo-dark: #312e81;
  --theme-purple-dark: #581c87;
  --theme-orange-dark: #7c2d12;

  --grey-100: #efefef;
  --grey-300: #777;
  --grey-950: #030712;

  --slate-700: #3f3f46;
  --slate-800: #27272a;
  --slate-900: #171717;
  --slate-950: #09090b;

  --font-xs: 11px;
  --font-sm: 12px;
  --font-md: 17px;
  --font-lg: 18px;
  --font-xl: 22px;
  --font-family: "Reddit Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--grey-100);
  background-color: var(--slate-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--theme-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--theme-blue);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-4);
  text-align: center;
}

.button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: var(--theme-green-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}

.fake-button {
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0;
}

.fake-button > * {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  display: block;
  border: 2px solid transparent;
}

.fake-button.active > * {
  box-shadow: 0 0 16px var(--slate-900);
}

.input,
.terminal {
  width: 100%;
  margin-bottom: 16px;
  padding: var(--spacing-4);
  border-radius: 12px;
  border: 1px solid var(--slate-800);
  font-size: var(--font-md);
  line-height: 1.6;
  font-family: inherit;
  background: var(--slate-950);
  color: var(--grey-100);
}

.terminal {
  text-align: left;
  height: 460px;
  overflow-y: auto;
  white-space: pre-line;
}

.input:focus {
  outline: none;
  border: 1px solid var(--slate-700);
}

textarea.input {
  resize: none;
}

fieldset {
  border: 0;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

fieldset input.input {
  margin: 0 var(--spacing-4) 0 0;
  padding: var(--spacing-3) var(--spacing-4);
}

.button.active,
button.active span {
  border: 2px solid #ffffff83;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button-list button {
  margin: 0 var(--spacing-4) var(--spacing-4) 0;
}

.button-list button:last-of-type {
  margin-right: 0;
}

.github-logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
